.nav-bg{
    background: transparent !important;
    backdrop-filter: blur(10px);
}
.logo{
    font-family: "droid serif",
        Georgia,
        times,
        serif;
    color: #ff7d7d !important;
    font-size: 3rem;
}

.navbar-nav >li>a{
    font-weight: bold;
}

.search-icon{
    color: #ff7d7d;
}

.pager li .active_link{
    background: #000 !important;
}

.post-title{
    display: flex;
    justify-content: space-between;
}

.heart-btn{
    font-size: 25px;
    background-color: transparent;
    color: #ff7d7d;
    font-size: 3rem;
}

/* Share box style */
#share-box{
    position: relative;
    cursor: pointer;
}
.share-btn{
    color: #ff7d7d;
    font-size: 2rem;
}
#share-options {
    position: absolute;
    bottom: 50%;
    left: 90%;
    width: auto;
    height: auto;
    transform-origin: bottom left;

    transform: scale(0);
    visibility: hidden;
    
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ff7d7d;
    color: #fff;
    padding: 20px;
    transition: .5s;
    transition-delay: .5s;
    z-index: 1;

}
#share-box:hover #share-options{
    visibility: visible ;
    transform: scale(1);
}

.title{
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    width: fit-content;
    padding: 0 20px 3px 0;
}
.social-media{
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
.social-media-btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    text-align: center;
}
.social-media-btn:nth-child(1){
    background: #25D366;
}
.social-media-btn:nth-child(2){
    background: #E4405F;
}
.social-media-btn:nth-child(3){
    background: #1DA1F2;
}
.social-media-btn:nth-child(4){
    background: #1877F2;
}
.social-media-btn:nth-child(5){
    background: #0A66C2;
}
.link-container{
    width: 100%;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #fff;
    overflow: hidden;
    padding: 0 10px;
}
.link{
    width: 80%;
    height: 100%;
    line-height: 40px;
    color: #000;
}
.copy-btn{
    position: absolute;
    right: 0;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    height: 100%;
    width: 30%;
    text-transform: capitalize;
    font-size: 16px;
}
/* Share box style */


.btn-custom{
    background-color: #ff7d7d;
    color:white;
}

.favorite-modal-btn{
    position: absolute;
    right: 0;
    top: 50vh;
    background-color: #ff7d7d;
    color: white;
    font-size: x-large;
}
.favorite-modal-btn:hover{
    color: white;
    opacity: 90%;
}

.modal-show{
    z-index: 100;
    position: absolute;
    width: 30rem;
    top: 40vh;
    scale: 100%;
    right: 6rem;
    opacity: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(18, 16, 16);
    transition: right 1s, scale 1s;
}

.modal-close{
    position: absolute;
    width: 30rem;
    top: 40vh;
    background-color: white;
    border-radius: 5px;
    scale: 10%;
    right: -15%;
    transition: right 1s, scale 1s;
    opacity: 0;
}

